/*[GENERAL SETTINGS]*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@media (max-width: 500px) {
  .menu {
    display:none;
  }
}

  .figura img {
    width: 350px;
    margin: 0 auto;
}

.container{
  padding: 0px;
}

.navegacao img {
  max-width: 250px;
}
@media (max-width: 500px) {
  .navegacao img {
    width: 200px;;
  }
}

@media (max-width: 500px) {
  .uai{
  margin-top: 35vh;
  margin-right: -10px;
  }
}

@media (max-width: 500px) {
  .banner_1 {
    grid-template-columns: 1fr; /* vira 1 coluna */
    margin: 100px auto 0 auto;
    height: 860px;
    gap: 10px;
  }

  .banner_1 .texto{
    display: block;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 0px;
  }

  .banner_1 .textos{
    margin: 0 auto;
    max-width: 100%;
    padding: 0;
  }

  .banner_1 h1{
    margin: 0;
  }
}

@media (max-width: 500px) {
  .linha {
    flex-direction: column;
  }

  .botao {
    align-self: center;
    width: 100%;
  }
}

@media (max-width: 500px) {
.banner_2{
    grid-template-columns: 1fr; /* vira 1 coluna */
    width: 90vw;
    max-width: 100vw;
    height: 900px;
    gap: 10px;
    display: block;
    justify-items: center;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
.form-container{
  width: 80%;
  margin: 0;
  }
}

@media (max-width: 500px) {
  .linha {
    flex-direction: column;
    gap: 35px;
  }

  .tabs{
    gap: 5px;
    margin-top: 0px;
  }

  .botao {
    align-self: center;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .final-img {
    display:none;
  }
}

@media (max-width: 500px) {
 .footer-container {
    display:none;
  }

  header {
    z-index: 200;
    align-items: center;
    width: 100vw;
  }

.uwy.userway_p1 .userway_buttons_wrapper{
 z-index: -1 !important;
 width: 1%;
}
  
  .uai {
   top: -3vh;
   right: 1.4vh;
  }
  
  .formulario{
    gap: 0px;
  }


  .navegacao ul {
    padding: 0px;
  }

  .menu {
    display: none;
  }

  #btn-mobile {
    display: block;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 999;
    margin-top: 0px;
    width: 0px;
    margin-right: 30px;
  }

  #menu-mobile {
    display: block;
    position: fixed;
    top: 50px;
    right: 0;
    width: 100%;
    height: 850px;
    background-color: #ece8fd;
    z-index: 350;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    visibility: hidden;
  }

  #menu-mobile.ativo {
    transform: translateX(0);
    visibility: visible;
  }

  #menu-mobile li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  #menu-mobile li a {
    display: block;
    padding: 1rem;
    text-align: center;
    color: #2b3e56;
    font-size: 1.5rem;

  }


.inicio-linha-mobile {
        text-decoration: none; 
        border-left: 4px solid #5f67d4; 
        display: block;
    }

    footer{
      display: none;
    }

    #novidades{
      width: 30px;
    }

  .campo_checkbox{
    align-items: normal;
  }

  .campo{
    width: 100%;
  }

  label{
    font-size: 1rem;
  }
}

.footerResponsivo{
  width: 100%;
}

@media (max-width: 370px) {
    .banner_1 .texto{
    display: block;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    padding: 0px;
  }

  .banner_1 .textos{
    margin: 0 auto;
    max-width: 100%;
    padding: 0;
  }

  .figura img {
    max-width: 100%;
  }
}

