/*[GENERAL SETTINGS]*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@media (max-width: 500px) {

   header {
    z-index: 200;
    align-items: center;
  }

.uwy.userway_p1 .userway_buttons_wrapper{
 z-index: -1 !important;
 width: 1%;
}
  
  .uai {
   top: 4vh;
   right: 1vh;
  }



  .navegacao ul {
    padding: 0px;
  }

  .menu {
    display: none;
  }

  #btn-mobile {
    display: block;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 999;
    margin-top: 0px;
    width: 0px;
    margin-right: 25px;
  }

  #menu-mobile {
    display: block;
    position: fixed;
    top: 50px;
    right: 0;
    width: 100%;
    height: calc(100vh - 70px);
    background-color: #ece8fd;
    z-index: 350;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    visibility: hidden;
  }

  #menu-mobile.ativo {
    transform: translateX(0);
    visibility: visible;
  }

  #menu-mobile li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  #menu-mobile li a {
    display: block;
    padding: 1rem;
    text-align: center;
    color: #2b3e56;
    font-size: 1.3rem;
  }


.inicio-linha-mobile{
        text-decoration: none; 
        border-left: 4px solid #5f67d4; 
        display: block;
    }

  }
  
@media (max-width: 500px) {
  .menu a {
    display: none;
  }
}

@media (max-width: 500px) {
  .navegacao img {
    width: 200px;;
  }
}

@media (max-width: 500px) {
  .banner_1 {
    grid-template-columns: 1fr; /* vira 1 coluna */
    margin-top: 80px;
    height: 600px;
    gap: 10px;
    padding: 0px;

  }
}

@media (max-width: 500px) {
  .banner_1 .texto {
    margin: 0;
    padding: 0;
    

  }
}

@media (max-width: 500px) {
  .banner_1 .texto h1{
    font-size: 1.8rem;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .banner_1 .texto p{
    text-align: center;
    font-size: 1.4rem;
  }
}

@media (max-width: 800px) {
  .banner_1 img {
    max-width: 350px;
    margin-top: 0;
    display: block;
  }
}

@media (max-width: 600px) {
  .linha {
    flex-direction: column;
  }

  .botao {
    align-self: center;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .banner_2 {
    height: 800px;
    gap: 10px;
    padding: 0;
    margin: 0;
    width: 100px;

        grid-template-columns: 1fr; /* vira 1 coluna */
    margin: 80px auto 0 auto;
        display: none;
  }
}

@media (max-width: 500px) {
  .banner_2 h3{
    display: none;
  }
}

@media (max-width: 500px) {
  .banner_2 p{
    display: none;
  }
}

@media (max-width: 500px) {
  .banner_2 .formu{
    padding: 40px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.253);
    display: none;
  }
}

@media (max-width: 500px) {
  .banner_2 .container3 {
display: flex;
flex-direction: column;
    height: 100px;
    gap: 10px;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
    width: 320px;
    background-color: #ece8fd;
  }
}

@media (max-width: 500px) {
  .quadrado1 {
    gap:20px;
    font-weight: none;
        border: none;
    box-shadow: none;
    height: 200px;
  }
}
@media (max-width: 500px) {
  .quadrado1 p{
    font-weight: none;
    font-size: 1rem;
    margin: 20px;
  }
}

@media (max-width: 500px) {
  .quadrado1 .quadrado{
    width: 100px;
    border-radius: 15px;
        border: none;
    box-shadow: none;
    padding: 20px 20px;
    height: 150px;
  }
}

@media (max-width: 500px) {
  .botassi{
    margin: 0;
    width: 100px;
    height: 50px;
    margin-right: 50px;
    margin-top: 100px;

  }
}

@media (max-width: 500px) {
.botassin{
    font-size: 1.2rem;
    text-align: center;
    width: 100px;
  }

}


@media (max-width: 500px) {
.plano{
   display: none;
  }
}


@media (max-width: 500px) {
.planodois{
   display: flex;
   flex-direction: column;
    gap: 50px;
  }
}

@media (max-width: 500px) {
.planodois .tudo{
  width: 240px;
  box-shadow: none;
  border-radius: 20px;

  }
}



@media (max-width: 500px) {
  .banner_3 {
    grid-template-columns: 1fr; /* vira 1 coluna */
    margin: 80px auto 0 auto;
    height: 1730px;
    gap: 10px;
    padding: 0;
  }
  
  .banner_3 .textoo2 h3{
    font-size: 2rem;
  }
}


@media (max-width: 500px) {
  .banner_3 .container4 {
    grid-template-columns: 1fr; /* vira 1 coluna */
    margin: 80px auto 0 auto;
    height: 1750px;
    gap: 10px;
    padding: 0;
    border: none;
    box-shadow: none;
  }
}

@media (max-width: 500px) {
  .container5 {
    grid-template-columns: 1fr; /* vira 1 coluna */
    margin: 80px auto 0 auto;
    height: 1450px;
    gap: 40px;
    box-shadow: none;
    border: none;

        grid-template-columns: 1fr; /* vira 1 coluna */
    padding: 0;
  }
}

@media (max-width: 500px) {
  .containerto {
    width: 200px;
    gap: 10px;
    margin-top: 70px;
    padding: 20px;
    margin-left: 10px;
  }
}

@media (max-width: 500px) {
  .containerto p{
    font-size: 0.9rem;
  }
}

@media (max-width: 500px) {
  .container5 .quad{
    grid-template-columns: 1fr; /* vira 1 coluna */
    margin: 10px auto 0 auto;
    height: 100px;
    gap: 10px;
    padding: 0;

  }
}

@media (max-width: 500px) {
  .quadrado2 .quadtu{
    grid-template-columns: 1fr; /* vira 1 coluna */
    margin: 10px auto 0 auto;
    height: 150px;
    gap: 10px;
    padding: 0;
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .quadrado2 .quadtu p{
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
.quadtu img{
    padding: 10px;
  }
}

@media (max-width: 500px) {
  .quadrado2 {
    width: 260px;
    border-radius: 15px;
    height: 800px;
    border: none;
    box-shadow: none;
    padding: 20px;
  }
}

@media (max-width: 500px) {
.plano-botao1 {
border: 4px slod black;
padding: 0;
margin-top: 70px;
    }
  }



@media (max-width: 500px) {
  .quadrado2 .quadti{
    width: 260px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 500px) {
  .quadrado2 .quadti img{
    width: 150px;

  }
}

@media (max-width: 500px) {
  .quadrado2 .quadti p{
    max-width: 250px;
    font-size: 1rem;
    padding: 4px;
  }
}


@media (max-width: 500px) {
  .banner_3 .bta{
    display: flex;
    flex-direction: column;
    height: 1200px;
    padding: 10px 20px;
  }
}

@media (max-width: 500px) {
  .banner_3 .bta1{
    display: flex;
    flex-direction: column;
    height: 300px;
    border: none;
    box-shadow: none;
    padding: 40px
  }
}

@media (max-width: 500px) {
  .banner_3 .bta1 img{
    margin-top: 0;
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  .banner_3 .btaa2{
    align-items: center;
  }
}




@media (max-width: 500px) {
  .banner_4 {
    grid-template-columns: 1fr; /* vira 1 coluna */
    margin: 10px auto 0 auto;
    height: 1450px;
    gap: 10px;
    padding: 0;
  }
}

@media (max-width: 500px){
   #cadastro {
    margin: 0;
    height: 0;
    padding: 25px;
    justify-self: center;
    width: 145px;
    margin-left: 160px;
  }


}

@media (max-width: 500px) {
  .final-img {
    display:none;
  }
}

@media (max-width: 500px) {
footer {
    display:none;
  }
}

@media (min-width: 600px) {
  .cont {
    display:none;
  }
}
