/*[GENERAL SETTINGS]*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  background-color: #ece8fd;
  margin: 0px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1{
  color: #2b3e56;
  font-size:2rem;
}

h2,
h3,
h4,
h5,
h6 {
  color: #2b3e56;
  font-size: 1.5rem;
}

p {
  color: #2b3e56;
  font-size: 1.3rem;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

/*[NAVIGATION MENU]*/

.container-header {
  max-width: 1500px;
}

header {
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: #f5f5f5;
  width: 100%;
  margin: 0 auto;
  position: fixed;
}

.navegacao {
  margin: 0 auto;
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  height: 50px;
}

.menu {
  display: flex;
  gap: 40px;
}

.navegacao ul {
  padding-left: 40px;
  padding-right: 40px;
}

.navegacao img {
  max-width: 220px;
}


.uai {
  margin-top: 30vh;
}

.menu a {
  color: #2b3e56;
  font-weight: bold;
  font-size: 1rem;
}

.menu a:hover {
  color: #8087f2;
}

.inicio-linha {
  text-decoration: underline;
}

#btn-mobile{
  display: none;
}

#menu-mobile{
  display: none;
}


.menu {
  list-style-type: none;
  display: flex; 
  padding: 0;
  margin: 0;
}

.menu li a {

  display: block; 
  padding: 5px 15px; 
  text-decoration: none;
  color: #333;


  position: relative; 
}

.menu li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #c9c5ff; 
  width: 0%; 
  transition: width 0.3s ease; 
}

.menu li a:hover::after {
  width: 100%; 
}

.menu li a.active::after {
  width: 100%; 
  background-color: #000000; 
  transition: none; 
}

.progress-bar {
  height: 4px;          
  background: #c9c5ff;  
  width: 0%;            
  transition: width 0.1s ease-out;
}

/*[BANNER 1]*/

.banner_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 80px auto 0px auto;
  align-items: center;
  max-width: 1500px;
  gap: 90px;
  background-color: #ece8fd;
  border-color: #2b3e56 ;
  padding: 20px 20px;
  height: 600px;
}

.banner_1 .texto {
  align-self: center;
  padding: 20px 20px;
  margin: 20px 20px;
  max-width: 400px;
  min-width: 300px;
}

.banner_1 img {
  max-width: 100%;
  width: 500px;
}

.imagem {
  position: relative;
  justify-items:left;
  display: grid;
}

.fundo {
  height: 400px;
}

.smile {
  position: absolute;
  z-index: 2;
  height: 190px;
  top: 100px;
}

.detail {
  align-self: center;
  position: absolute;
  height: 350px;
  top: 90px;
}

/*[BANNER 2]*/

.banner_2 {
  gap: 30px;
  display: grid;
  margin: 80px auto 0px auto;
  align-items:flex-start;
  justify-self: center;
  max-width: 1500px;
  padding: 20px 20px;
  margin: 80px auto 0px auto;
}

.banner_2 img {
  width: 50px;
}

.banner_2 p {
  margin: 0 auto;
  margin-top: 20px;
  font-size: 1rem;
}

.banner_2 .imagem {
  height: 420px;
  border-radius: 20px;
  text-align: center;
  background-color: #f4f2ff;
  justify-items: center;
}

.banner_2 .imagem p {
  margin: 0;
}

.agrupamento {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  justify-items: center;
  padding: 20px 20px;
}

.agrupamento img {
  width: 80px;
}
.titulo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
}

.titulo h2 {
  margin: 0;
}

.agrupamento p {
  padding: 20px;
  height: 150px;
}

/*[BANNER 3]*/

.banner_3 {
  margin: 80px auto 0px auto;
  align-items: center;
  justify-self: center;
  max-width: 1500px;
  padding: 20px 20px;
  margin: 80px auto 0px auto;
  gap: 150px;
}

.banner_3 {
  align-self: center;
  padding: 20px 20px;
  margin: 20px 20px;
  max-width: 1500px;
  min-width: 400px;
}

.banner_3  p {
  font-size: 1.3rem;
}


.blog{
  text-align: center;
  font-size: 2rem;
}

.blog-texto{
  width: 90ch;
}

.botao-blog{
   background-color: #42489b;
    color: white;
    border-radius: 8px;
    height: 40px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px 20px;
    margin-left: 34vw;
}

/*[FOOTER]*/

.footer {
  margin-top: 100px;
  background-color: #f5f5f5;
}

.footer-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: start;
  color: #505050;
  padding-top: 60px;
  font-family: 'Inter', sans-serif;
  border-bottom: 2px solid #5f67d4;
  flex-wrap: nowrap;
  gap: 40px;
  max-width: 1500px;
}

.footer-container h3 {
  color: #2b3e56;
  font-size: 18px;
}

.esquerda p {
  max-width: 30ch;
  margin-top: 10px;
}

.direita {
  display: flex;
}

.direita a {
  color: #505050;
  font-size: 15px;
}

.copy p {
  color: #505050;
  font-family: 'Inter', sans-serif;
  padding: 20px;
  font-size: 14px;
  text-align: center;
  margin: 0px;
}

.menuDois li {
  margin-bottom: 10px;
}

.final-img {
  width: 300px;
}

#botao:hover {
  background-color: #4ba2e9;
}

.cont {
  text-align: center;
  padding-top: 40px;
  background-color: #ece8fd;
  width: 100%;
  margin-bottom: 100px;
}

.cont h2 {
  font-size: 28px;
  margin-bottom: 25px;
  color: #2b3e56;
  font-family: 'Inter', sans-serif;

}

.icon {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.icon img {
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.icon img:hover {
  transform: scale(1.1);
}

#botao:hover {
  background-color: #4ba2e9;
}

 #btn-mobile img {
    width: 30px; 
    height: auto; 
    transition: 3s ease-in;
}



.footerResponsivo {
    margin-top: 20px;
    background-color: #F5F5F5;
    padding: 20px 0px;
  }


.footerResponsivo * {
    margin: 0;
    padding: 0;
  }

.footerGrid {
    display: grid;
    grid-template-rows: 1fr 1.25fr 0.5fr;
    height: fit-content;
    align-items: center;
  }

.logoMarca {
      display: flex;
      align-items: center;
      justify-content: left;
      margin-left: 16px;
      gap: 15px;
  }

.logoMarca h2 {
    font-size: 1.5rem;
  }

.logoImagem {
    width: 80px;
  }

.logoImagem img {
    width: 100%;
  }

.redesSociais {
    display: grid;
  }

.redesSociais ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
  }

.tamanhoImagemIcones {
    height: 35px;
  }

.iconesRedes img {
    height: 100%;
  }

.infoCalmamente {
    width: 100vw;
    text-align: center;
  }

.infoCalmamente p {
    font-size: 0.8rem;
    margin: 0px 15px;
  }

.toggleFooterResponsivo {
    display: none;
  }

